.bgImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.registryPanel{
    width: 60%;
    height: 100%;
    margin-top: 5vw;
    background-color: rgba(253, 220, 176, 0.7);
    border: 3px solid tan;
    border-radius: 1.5vw;
    font-family: 'Quicksand', sans-serif;
}

.loginPanel{
    width: 60%;
    height: 100%;
    margin-top: 10vw;
    background-color: rgba(253, 220, 176, 0.7);
    border: 3px solid tan;
    border-radius: 1.5vw;
    font-family: 'Quicksand', sans-serif;
}

.logoutPanel{
    width: 60%;
    height: 100%;
    margin-top: 10vw;
    background-color: rgba(253, 220, 176, 0.7);
    border: 3px solid tan;
    border-radius: 1.5vw;
    font-family: 'Quicksand', sans-serif;
}

.logOptions{
    margin-top: 1vw;
}

.errorBox{
    width: 30%;
    height: 20%;

    background-color: rgba(200, 0, 0, 0.9);
    border: 3px solid rgb(200, 0, 0);
    border-radius: 1.5vw;

    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    color: white;
    text-align: center;
}

.successBox{
    width: 30%;
    height: 20%;

    background-color: rgba(0, 200, 0, 0.9);
    border: 3px solid rgb(0, 200, 0);
    border-radius: 1.5vw;

    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    color: white;
    text-align: center;
}

.emergentErrorBox{
    width: 50%;
    height: 15vw;

    background-color: rgba(200, 0, 0, 0.9);
    border: 3px solid rgb(200, 0, 0);
    border-radius: 1.5vw;

    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    color: white;
    text-align: center;

    z-index: 1;
    position: absolute;
    margin-top: -1.65%;

}

.searchContainer{
    margin-top: 2%;
    height: 8vw;
    width: 50%;

    font-family: 'Quicksand', sans-serif;
}

.titleBox{
    height: 40%;
    font-size: 3vw;
    text-align: center;
}

.searchBox{
    height: 4vw;
}

.searchBarContainer{
    display: flex;
    align-items: center;
}

.searchBar{
    padding-left: 1vw;
    font-size: 1vw;
    height: 70%;
}

.searchButtonContainer{
    display: flex;
    align-items: center
}

.searchButton{
    font-size: 1vw;
    height: 170%;
}

.emptyListComponent{
    width: 60%;
    height: 100%;
    margin-bottom: 2%;
    background-color: rgba(253, 220, 176, 0.7);
    border: 2px dashed black;
    border-radius: 1.5vw;
    font-family: 'Quicksand', sans-serif;
}

.listComponent{
    width: 60%;
    height: 100%;
    margin-bottom: 2%;
    background-color: rgb(253, 220, 176);
    border: 3px solid tan;
    border-radius: 1.5vw;
    font-family: 'Quicksand', sans-serif;
}

.listID{
    font-size: 3.6vw;
}

.listName{
    font-size: 2vw;
    height:70%;
    padding-left: 5%;
    white-space: nowrap;
    align-items: center;
}

.listAddress{
    font-size: 1vw;
    height:30%;
    padding-left: 5%;
    white-space: nowrap;
    align-items: center;
}

.listArrow{
    width:2vw;
    margin-top: 42%;
    vertical-align: middle;
}
.listArrow:hover{
    filter: opacity(50%);
    transition: all .1s linear;
}

.capacityPanel{
    text-align: center;
    height: 15vw;
    background-color: rgb(207, 207, 207);
    border: 3px solid rgb(128, 128, 128);
    border-radius: 1.5vw;
    font-family: 'Quicksand', sans-serif;
}

.contentBox{
    align-items: center;
}

.adsComponent{
    width: 60%;
    height: 25vw;
    margin-bottom: 2%;
    background-color: rgba(253, 220, 176, 0.7);
    border: 2px dashed black;
    border-radius: 1.5vw;
    font-family: 'Quicksand', sans-serif;
}