{% extends 'base.html'%}
{%load static%}
{%block content%}

<div class="container-fluid">
    <div class="row justify-content-end logOptions">
        {% if request.user.is_authenticated %}
            <div class="col-md-auto">
                <a class="listAddress">¡Welcome back, {{user}}!</a>
            </div>
            <div class="col-md-auto">
                <button onclick="location.href = '/logout'" class="boton btn-success">Log Out</button>
            </div>      
        {% else %}
            <div class="col-md-auto">
                <button onclick="location.href = '/login'" class="boton btn-success">Log In</button>
            </div>
            <div class="col-md-auto">
                <button onclick="location.href = '/register'" class="boton btn-success">Register</button>
            </div>
        {% endif %}
    </div>
</div>



<div class='container-fluid searchContainer'>
    <div class="row">
            
        <div class="col titleBox">
            <a>OLIMPIADAS - INET 2021</a>
        </div>

    </div>

    <div class="row justify-content-md-center searchBox">
        <form method="get">

            <div class="col justify-content-md-center searchBarContainer"> 
                <input type="text" class="searchBar" value="{{ search }}" placeholder="Buscar por nombre o dirección..." name="buscar">
                <span class="input-group-list">
                    <button type="submit" class="boton btn-success searchButton">Buscar</button>
                </span>
            </div>

        </form>
    </div>
    
</div>

<br>



{%for local in locales%}

<div class='container-fluid listComponent'>
    <div class="row">
            
        <div class="col-1">
            <b class="listID">{{local.id}}.</b>
        </div>

        <div class="col-8">
            <div class="row listName">
                <a>{{local.name}}</a>
            </div>
            <div class="row listAddress">
                <a>{{local.address}}</a>
            </div>
        </div>

        <div class="col-1 ml-auto">
            <a href="{% url 'local_view' local.id %}"><img class="listArrow" src="../../static/img/RightArrow.png"></a>
        </div>

    </div>
</div>

{% empty %}

<div class='container-fluid emptyListComponent'>
    <div class="row">
            
        <div class="col-1">
            <b class="listID">?</b>
        </div>

        <div class="col-8">
            <div class="row listName">
                <a>No hay locales disponibles para la vista...</a>
            </div>
            <div class="row listAddress">
                <a>nasheeeee</a>
            </div>
        </div>

    </div>
</div>

{%endfor%}

{%endblock%}